body {
	background-image:url("../image/1.jpg");
	background-size: cover;
	}
html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}
div {
	text-align: center;
	width:100%;
	padding-top:100px;}
.table1
  {
	border: 3px solid white;
	margin:auto;
	padding-left:20px;padding-right:20px;
	color:white;
	font-size:40px;
	font-family:FangSong;
  }
.table2
	{
	margin:auto;

	color:white;
	
	font-family:FangSong;
	}
a:link{
	text-decoration:none;
	color:white;
}

a:visited{
  color:white;
}
a:hover{
	color:#DCDCDC;
}